@model IEnumerable<ewidencja.Models.Obywatel>

@{
    ViewBag.Title = "Lista Obywateli";
}

<h2>Lista Obywateli</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Znajdź uwagę: @Html.TextBox("SearchString")
        <input type="submit" value="Znajdź" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.ActionLink("PESEL", "Index", new { sortOrder = ViewBag.PeselSortParm })
        </th>
        <th>
            @Html.ActionLink("Imie", "Index", new { sortOrder = ViewBag.ImieSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drugie_imie)
        </th>
        <th>
            @Html.ActionLink("Nazwisko", "Index", new { sortOrder = ViewBag.NazwiskoSortParm })
        </th>
        <th>
            @Html.ActionLink("Data urodzenia", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_zgonu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PESEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drugie_imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_urodzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_zgonu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
