@model IEnumerable<ewidencja.Models.Uwagi>

@{
    ViewBag.Title = "Lista Uwag";
}

<h2>Lista Uwag</h2>

<p>
    @Html.ActionLink("Dodaj uwagę", "Create")
</p>
@using(Html.BeginForm())
{
    <p>
        Znajdź uwagę: @Html.TextBox("SearchString")
        <input type="submit" value="Znajdź"/>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Obywatel.PESEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Obywatel.PESEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
